@import 'vars.scss';
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');


.contact-container {
    align-self: center;
    font-size: large;
    font-family: $main-font-family;
    background-color: $main-theme--dark;
    color: white;

    a {
        color: white;
    }
    a:visited { 
        color:white; 
    }
}

.contact-text {
    padding: 4px 20px;
    margin: 0;
}

.quote {
    width: 90%;
    align-self: center;
    font-style: italic;
    font-size: small;
}

.footnotes { 
    margin-left: 20px;
    font-size: small;
}
.contact-info {
    display: flex;

    svg {
        height: 120px;
        display: none;
        @media(min-width: 767px) {
            display: block;
        }
    }
}

