@import 'vars.scss';
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

.container {
    background-color: $main-theme;
    position: absolute;
    width: 100%;
    top: 150px;
    display: flex;
    flex-direction: column;
    @media (min-width: 375px) {
        top: 215px;
    }

    .react-datepicker-popper {
        z-index: 999;
    }
}

.date-result {
    margin-top: -20px;
}

.calculator {
    width: 90%;
    align-self: center;
}

.main-section {
    margin-bottom: $main-section-margin;
}

.result {
    align-self: center;
    width: 100%;
    background-color: aliceblue;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 999;
    padding-top: 10px;
}

.result-statement {
    font-size: 16px;
    text-align: center;
    margin-bottom: 15px;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    @media(min-width: 767px)
    {
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: baseline;
    }
}

.result-statistic {
    font-size: 16px;
    font-weight: 600;
    margin-left: 4px;
    margin-right: 4px;
    color: $main-theme--dark;
    @media(min-width: 767px)
    {
        font-size: 36px;
    }
}

.question-text{
    font-size: large;
    font-family: $main-font-family;
    margin-bottom: 5px;
    font-weight: 600;
    color: #2C3E50;
}

.calendar {
    width: 50px;
    height: 50px;
    background-size: contain;
}
