@import 'vars.scss';

.navbar {
    height: 40px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $main-theme--dark;
    color: white;
    z-index: 999;
    font-size: medium;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    margin-left: 16px;
  }

.navbar a {
    text-decoration: none;
    color: white;
    display: block;
    height: 40px;
    padding: 8px 8px 0 8px;
}
