@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

.social-buttons-container {
    direction: rtl;
    top: 90px;
    right: 5px;
    position: absolute;
    @media (min-width: 360px) {
        top: 75px;
    }
    @media (min-width: 540px) {
        top: 5px;  
    }
}
.social-button{
    background-color: transparent;
    border: none;
    padding: 0px;
    font: 'Lato', sans-serif;
    color: inherit;
    cursor: pointer;
}