@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

$main-theme: #ebf0f6;
$main-theme--dark: #2C3E50;

$main-section-margin: 35px;

$main-font-family: 'Lato', sans-serif;

.bg {
    height: 300px;
    width: 100%;
    background-color: aliceblue;
}